{% extends "layout.html" %}

{% block content%}
<div class="container">
	<div class = "row">
		<div class="col-lg-9">
			<div id="map-canvas" class="map-canvas">
			</div>
		</div>
		<div class="col-lg-3">

			<div class="our-col-sm-6">

				<div class="panel panel-default">
				 	<div id="top-panel" class="panel-body">
						<div class="selectcategory clearfix"> 
					    <label>Hotels</label>
					    	<select>
						    {% for hotel in all_hotels %}
						      <option>{{hotel.name}}</option>
						    {% endfor %}
						  </select>
						  <a> <i class="fa fa-plus-circle"></i></a>
						</div>

						<div class="selectcategory clearfix">
						 <label>Restaurants</label>
							<select>
							    {% for restaurant in all_restaurants %}
							      <option>{{restaurant.name}}</option>
							    {% endfor %}
						    </select>
						    <a> <i class="fa fa-plus-circle"></i></a>
					    </div>

						<div class="selectcategory clearfix">
						    <label>Things To Do</label>
						    <select>
							    {% for thingtodo in all_things_to_do %}
							      <option>{{thingtodo.name}}</option>
							    {% endfor %}
						  	</select>
						  	<a> <i class="fa fa-plus-circle"></i></a>
					  	</div>

				 	</div>
				</div><!-- panel-->

			</div><!-- end col-sm-6-->

			<div class="our-col-sm-6">

				<div class="datedisplay"> <span>Day 1<i class="fa fa-times-circle"></i> </span> </div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<ul class="pagination">
							<li><a href="#">1</a></li>
							<li class="active"><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">+</a></li>
						</ul>

					</div>
					<div id="myDayListPanel"class="panel-body">
					    <div class="selectcategory clearfix"> 
					    <label>My Hotels</label>
					    	<ul >
						      <li>Andaz Wall Street</li>
						  		<a> <i class="fa fa-times-circle"></i></a>
						  </ul>
						</div>

						<div class="selectcategory clearfix">
						 <label>My Restaurants</label>
							<ul>
							      <li>Bouley</li>
						    	<a> <i class="fa fa-times-circle"></i></a>
						    </ul>
					    </div>

						<div class="selectcategory clearfix">
						    <label>My Things To Do</label>
						    <ul>
							      <li>South Street Seaport</li>
						  		<a> <i class="fa fa-times-circle"></i></a>
						  	</ul>
					  	</div>
					</div>
				</div> <!-- panel -->

			</div><!-- end col-sm-6-->

		</div> <!-- col-lg-3-->
	</div> <!-- row-->
</div> <!-- container-->
{% endblock%}

 	